body {
    font-family: 'Gill Sans', sans-serif;
}

h1 {
    color: #6261E2;
}

p{
    color: gray;
}

.center_text{
    text-align: center;
}

.cars_with_background{
    background-color: #ebecff;
    color: black;
    width: 200px;
    height: auto;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    font-size: 14px;
}

.cards{
    display: flex;
    justify-content: center;
    
}

.smart-search-block{
    display: flex;
    flex-direction: column;
}

.smart-search-text{
    display: flex;
    justify-content: center;
}

.search-button-block{
    display: flex;
    justify-content: center;
}

.search-button{
    border-color: yellow black;
    border-radius: 14px;
    padding: 10px;
}

.search-button:hover{
    background-color: beige;
}